<h1>Blockchain Transfer Transactions</h1>

<% if @api_available %>
  <p style="color: green;">New transactions have been fetched.</p>
<% else %>
  <p style="color: red;">Showing only historical transactions as API is down.</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Deposit</th>
      <th>Block No.</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |tx| %>
      <tr>
        <td><%= tx.sender %></td>
        <td><%= tx.receiver %></td>
        <td><%= tx.deposit %></td>
        <td><%= tx.height %></td>
      </tr>
    <% end %>
  </tbody>
</table>